html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Futura_Bk", sans-serif;
  --theme-color: #6c0ce9;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--theme-color);
  color: white;
}

@font-face {
  font-family: "Futura_Bd";
  src: url(/assets/font/Futura-Bold.woff);
}
@font-face {
  font-family: "Futura_Md";
  src: url(/assets/font/Futura-Med.woff);
}
@font-face {
  font-family: "Futura_Bk";
  src: url(/assets/font/Futura-Book.woff);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Line Active Class */
.hamb_line1_active {
  transform: rotate(45deg) translate(6px, 5px);
}
.hamb_line2_active {
  transform: rotate(-45deg) translate(6px, -5px);
}

/* Navbar Active */
.nav_active {
  transform: translate(0, 0);
}
.nav_bounce {
  transform: translate(0, 0);
}

h1 {
  font-family: "Futura_Md";
}

/* 01 Numbers */
.counting {
  font-family: "Abril Fatface", sans-serif;
}

/* All Works Items Fade In Class */
.fade {
  transition: all 0.5s;
  transform: translateY(2rem);
  opacity: 0;
}

.fade_in {
  transform: translateY(0);
  opacity: 1;
}

/* Passion For Items Fade In Class */
.passion {
  transition: all 0.7s;
  transform: translateY(2rem);
  opacity: 0;
}

.passion_fade {
  transform: translate(0);
  opacity: 1;
}

.fill_white {
  fill: #fff;
}
.bg_white {
  background: #fff;
}
